<h1 class="title">Should I Study?</h1>
<p>Trouble wrapping your head around a specific web dev concept?  Submit it below, study that concept and at the end of each week check back on this list.  If you learn a concept remove it from the list.  Tip: List item text will progressively turn red over time, try to learn each concept before a list item turns bright red.  Happy Hacking! </p>